.Map {
  position: relative;
}

.Map-details {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 10px;
  background: #fff;
}
.Map-details-key {
  width: 100px;
  float: left;
  text-transform: capitalize;
  font-weight: bold;
}
.Map-details-value {
  width: 220px;
  text-transform: capitalize;
}

.Map-marker {
  position: absolute;
  cursor: pointer;
}
